django
djangorestframework
djangorestframework-simplejwt
django-admin-interface
django-admin-autocomplete-filter
django_filter
django-environ
environs
google-generativeai
pylint-django
pytest
pytest-django
uuid