django
djangorestframework
djangorestframework-simplejwt
django-admin-interface
django-admin-autocomplete-filter
django_filter
django-environ
environs
google-generativeai
gunicorn
psycopg2-binary
pylint-django
pytest
pytest-django
sentry-sdk[django]
uuid
whitenoise[brotli]